/* .container.app-inner-layout__content,
.container.app-inner-layout__content .tab-content>.container {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
}

.row:not(:first-of-type) {
    padding: 20px 0px;
} */

.title-text {
    font-weight: 700;
}

hr {
    border: solid 2px #003b5c;
}

.blue-background {
    background-color: #003b5c !important;
    border: solid 1px #003b5c !important;
    color: white;
}

.light-blue-background {
    background-color: #26a1dc !important;
    border: solid 1px #26a1dc !important;
    color: white;
}

.blue-text {
    color: #003b5c;
}

.banner-section {
    width: 100%;
    height: auto;
}

#carouselBanners {
    width: 100% !important;
    height: auto !important;
}

.carousel-inner {
    background: url('/docentes/img/dashboard/others/carousel-background.jpg') center fixed no-repeat;
    background-color: #003b5cde;
    width: 100% !important;
    height: auto !important;
}

.background-img {
    width: 100% !important;
    height: auto !important;
}

.row-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-circle {
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 90px;
    min-height: 90px;
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    color: white !important;
    background-color: lightgray;
    border: solid 1px lightgray;
    border-radius: 50%;
    margin: 10px auto;
    text-decoration: none !important;
}

.btn-circle i {
    margin: auto;
    font-size: 40px;
}

.btn-circle:hover i {
    font-size: 45px;
}